<br>
<br>
<div class="container categorias">

  <h4 class="mb-5 text-center" ><strong>Categorias</strong></h4>
  <div class="row">
    <div class="col-lg-3">
      <img class="rounded-circle" src="assets/img/bg_1.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Naturales</h2>
    </div>
    <div class="col-lg-3">
      <img class="rounded-circle" src="assets/img/bg_8.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Culturales</h2>
     </div>
    <div class="col-lg-3">
      <img class="rounded-circle" src="assets/img/bg_7.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Religiosos</h2>
    </div>
    <div class="col-lg-3">
      <img class="rounded-circle" src="assets/img/bg_6.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Sociales</h2>
    </div>
  </div>
  <br>
  <br>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Un turismo más sostenible. <span class="text-muted">te dejará boquiabierto.</span></h2>
      <p class="lead">Volver a empezar significa también no olvidar que el impacto que el turismo tiene sobre el medio ambiente es muy importante. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/img/destination-1.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh sí, es tan bueno. <span class="text-muted">Ver por ti mismo.</span></h2>
      <p class="lead">El turismo que sabe mirar y compartir los dones de la tierra en el ámbito rural se convierte también en un modo concreto para aprender nuevos estilos de vida.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/destination-2.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">


</div>
