<br>
<br>
<div class="col-md-6 ">
  <div class="card">
    <div class="text-center">
        <h1>Recupera tu cuenta</h1>
    </div>
    <p class="card-text">
      Ingresa tu correo electrónico o usuario para buscar tu cuenta.
    </p>
        <div class="mb-3">
          <input type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <button  Htype="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Buscar</button>

  </div>
</div>
